@charset "UTF-8";
/* Create style for article excertp */

article.excerpt {
	padding: 10px;
	margin: 5px;
	border: 2px solid #43464D;
	-webkit-border-radius: 0 25px 25px 25px;
	-moz-border-radius: 0 25px 25px 25px;
	border-radius: 0 25px 25px 25px;
}

article.excerpt header a {
	text-decoration: none;
	color: #FFFFFF;
	font-size: 1.2em;
}

article.excerpt header h3 {
	background-color: #04C67E;
	padding: 10px 20px;
	position: relative;
	left: -10px;
	-webkit-border-radius: 0 25px 25px 0;
	-moz-border-radius: 0 25px 25px 0;
	border-radius: 0 25px 25px 0;
	
	transition: background 0.3s ease-in-out;
}

article.excerpt header a:hover {
	color: #FFFFFF;
}

article.excerpt header h3:hover {
	background-color: #F3A11E;
}

article.excerpt h4 {
	color: #FFFFFF;
	background-color: #285660;
	font-size: 1.0em;
	padding: 10px 20px;
	position: relative;
	left: -10px;
	-webkit-border-radius: 0 25px 25px 0;
	-moz-border-radius: 0 25px 25px 0;
	border-radius: 0 25px 25px 0;
	
	transition: background 0.3s ease-in-out;
}

article.excerpt p {
	text-align: justify;
}

article.excerpt footer {
	font-size: .8em;
	float: right;
}

article.excerpt footer p {
	text-align: right;
}

article.excerpt .clear {
	clear: both;
}