/*Position nav element*/
/* ------------------------------------------------------------------------- */
.pageNav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    max-width: 1180px;
    z-index: 600;
}

/*Position list*/
/* ------------------------------------------------------------------------- */
.pageNav ul {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
}

/*Style list elements*/
/* ------------------------------------------------------------------------- */
.pageNav ul li {
    display: inline;
    padding: 0;
    margin: 0;
}

/*Style links*/
/* ------------------------------------------------------------------------- */
.pageNav a:link, .pageNav a:visited {
    background-color: #FFF;
    color: #43464D;
    padding: 14px 20px 0 20px;
    border-top: 4px solid #FFF;
    font-size: 1.6em;
    text-decoration: none;
    float: left;
    width: auto;
    font-weight: 600;
    transition: border-top 50ms ease-in;
    transition: background-color 50ms ease-in;
}

.pageNav a:hover {
    background-color: #F5F5F5;
    border-top: 4px solid #04A3C6;
}
