@charset "UTF-8";

body {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12pt;
}

header a {
	text-decoration: none;
}

header a:link {
	color: #2C62B8;
}

header a:visited {
	color: #2C62B8;
}

header a:active {
	color: #2C62B8;
}

header a:hover {
	color: #9E4747;
}

footer p {
	font-size: 0.8em;
}