/* Apply page wide font styling and base size */
html, body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12pt;
}

/* -------------------------------------- */
/* Styling for page header and navigation */
/* -------------------------------------- */

/*Styling for header block*/
/* ------------------------------------------------------------------------- */
.pageHeader {
    position: fixed;
	top: 0;
    width: 100%;
    height: 50px;
    min-width: 455px;
	background-color: #FFF;
	z-index: 500;
}

.shadow {
    box-shadow: 0 1px 5px rgba(0,0,0,.3);
}

/*Styling for logo image*/
/* ------------------------------------------------------------------------- */
.pageHeader img {
    position: absolute;
	top: 0;
	left: 10px;
    width: 40px;
    height: 40px;
    padding: 5px 0;
}

/*Styling for page title*/
/* ------------------------------------------------------------------------- */
.pageHeader h1 {
    font-family: Verdana, Geneva, sans-serif;
	position: absolute;
	top: 0;
	left: 55px;
    width: 410px;
    line-height: 58px;
    margin: 0;
    color: #43464D;
    font-size: 2.5em;
}

/*Styling for article banner*/
/* ------------------------------------------------------------------------- */
.banner {
	background-color: #666B75;
	background-position: 50% 0;
    background-repeat: repeat;
	height: 300px;
	position: absolute;
	top: 50px;
	right: 0;
	left: 0;
}
