@charset "UTF-8";

/* Create style for banner ***************************************************/

div.banner {
	background-color: #666B75;
	background-position: 50% 0;
	background-repeat: repeat-x repeat-y;
	height: 200px;
	position: absolute;
	top: 300px;
	right: 0;
	left: 0;
}

article.main nav.fixed {
	position: fixed;
	top: 0;
	left: 150px;
}

/* Create article structure **************************************************/

article.main {
	position: relative;
	top: 500px;
	left: 0;
	right: 0;
	bottom: 0;
	width:980px;
	margin: 0 auto;
}

article.main nav {
	position: absolute;
	top: 0;
	left: 0;
	min-width: 200px;
	width: 200px;
	max-width: 200px;
}

article.main .content{
	position: absolute;
	right: 0;
	max-width: 760px;
	padding: 0 10px;
}

/* Create style for article header *******************************************/

article h1, article h2, article h3, article h4, article h5, article h6 {color: #43464D;}

/* Create style for article outline ******************************************/

nav.outline section {
	background-color: #666B75;
	color: #FFFFFF;
	padding: 10px 0;
}

nav.outline h2 {
	text-align: center;
	margin: 0 0 10px;
	color: #FFFFFF;
}

nav.outline section > ul {border-top: 2px solid #04A3C6;}

nav.outline ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

nav.outline a {
	text-decoration: none;
	color: #FFFFFF;
}

nav.outline li {
	padding: 5px 5px 5px 5px;
	border-bottom: 2px solid #04A3C6;
	transition: background 0.2s ease-in-out;
}

nav.outline ul > ul li {padding-left: 20px;}

nav.outline li:hover {background-color: #04A3C6;}

/* Create style for article content ******************************************/

/* Headers styling */

.content header {text-align: center;}

.content header h1 {
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 3em;
}

.content header p {
	margin-top: 10px;
	text-align: center;
}

section > header {
	border-bottom: 2px dotted #04A3C6;
	margin-top: 30px;
}

section > section > header {border-bottom: 0;}

section header h2 {
	display: inline;
	margin-left: 90px;
}

section header h3 {margin-bottom: 0;}

section img, .section a {display: inline;}

/* Link styling */

header a {
	margin: 0;
	padding: 6px 5px 0 5px;
	font-size: 1.0em;
	font-weight: normal;
	text-decoration: none;
	background-color: #FFFFFF;
}

header a:hover {
	background-color: #F3A11E;
	color: #FFFFFF;
}

.content a {
	color: #C98519;
	text-decoration: none;
	font-weight: 600;
}

.content a:hover {text-shadow: 0 0 0.1em #C98519;}

.content a em:hover {text-shadow: 0 0 0.1em #04A3C6;}

/* Styling for rest of the tags */

.content p {
	text-align: justify;
	text-indent: 30px;
}

.content li {padding-bottom: 8px;}

.content em, .content strong {
	font-style: normal;
	font-weight: 600;
	color: #037E99;
}

/* Image styling */
section > img {
	display: block;
	width: 600px;
	margin: 0 auto;
	padding: 10px;
	border: 5px solid #04A3C6;
	-webkit-border-radius: 0 25px 25px 25px;
	-moz-border-radius: 0 25px 25px 25px;
	border-radius: 0 25px 25px 25px;
}

section header > img {display: inline;}

/* Create style for pre-formatted text ***************************************/

.content pre {
	background-color: #DCF5FF;
	color: #43464D;
	border: 5px solid #04A3C6;
	-webkit-border-radius: 0 25px 25px 25px;
	-moz-border-radius: 0 25px 25px 25px;
	border-radius: 0 25px 25px 25px;
}

/* Create style for social media *********************************************/

.content .social {
	background-color: #FFFFFF;
	text-align: center;
	border-top: 2px dotted #666B75;
	margin: 0;
	padding: 10px;
}

/* Create style for article footer *******************************************/

.content footer p {
	background-color: #04A3C6;
	color: #FFFFFF;
	text-align: center;
	font-size: 1.2em;
	padding: 20px 0 20px 0;
	margin: 0;
}

.content footer a {color: #FFFFFF;}

.content footer a:hover {color: #F3A11E;}

/** Create style for disqus comments *****************************************/

.comments {margin: 20px auto 0 auto;}
