/* -------------------------------------------------------------------------- */
/* Positioning for page header and banner */
/* -------------------------------------------------------------------------- */

/* Positioning for article banner */
/******************************************************************************/
.banner {
	height: 100px;
}

/* -------------------------------------------------------------------------- */
/* Positioning for page navigation */
/* -------------------------------------------------------------------------- */

/* Position nav element */
/******************************************************************************/
.pageNav {
	display: none;
}

/* -------------------------------------------------------------------------- */
/* Positioning for page sidebar */
/* -------------------------------------------------------------------------- */

/* Position the navigation element */
/******************************************************************************/
.outline {
	display: none;
}

/* -------------------------------------------------------------------------- */
/* Positioning for page content */
/* -------------------------------------------------------------------------- */

/*Position of article content*/
/* ------------------------------------------------------------------------- */
.content {
	top: 150px;
	left: 0;
	right: 0;
}

.content img {
	width: 100%;
}
