
/* ----------------------------------------------- */
/* Styling for article navigation and article content */
/* ----------------------------------------------- */

/*Position the navigation element*/
/* ------------------------------------------------------------------------- */
.outline {
    position: absolute;
    top: 370px;
    left: 0;
    width: 260px;
    padding: 0 10px;
}

.fixed {
    position: fixed;
    top: 70px;
    left: 0;
}

/*Style for list*/
/* ------------------------------------------------------------------------- */
.outline ul {
    margin: 0;
    padding: 0;
    background-color: #FFF;
    font-size: 12pt;
}

.outline > ul {
    
}

.outline ul li {
    line-height: 20px;
    list-style-type: none;
}

/*Border style for lists*/
/* ------------------------------------------------------------------------- */
.outline > ul {
    -webkit-border-radius: 6px 6px 6px 6px;
	-moz-border-radius: 6px 6px 6px 6px;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 1px 4px rgba(0,0,0,.065);
}

/*Add rounded border to first element of table*/
.outline > ul > li:first-child > a {
    border-top: 1px solid #e5e5e5;
    -webkit-border-radius: 6px 6px 0 0;
	-moz-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}

/*Add rounded border to last element of table*/
.outline > ul > li:last-child > a {
    -webkit-border-radius: 0 0 6px 6px;
	-moz-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
}

/*Style for links*/
/* ------------------------------------------------------------------------- */
.outline ul a:link, .outline ul a:visited {
    margin: 0;
    padding: 9px 15px;
    list-style-type: none;
    color: #04A3C6;
    display: block;
    text-decoration: none;
    border: 1px solid #e5e5e5;
    border-top: 0;
}

.outline a .tab_indicator {
    display: inline-block;
    font-size: 1.2em;
    line-height: 18px;
    transform:scale(1,2); /* W3C */
    -webkit-transform:scale(1,2); /* Safari and Chrome */
    -moz-transform:scale(1,2); /* Firefox */
    -ms-transform:scale(1,2); /* IE 9 */
    -o-transform:scale(1,2); /* Opera */
}

.outline ul ul a:link, .outline ul ul a:visited {
    border: 1px dashed #e5e5e5;
    border-top: 0;
}

.outline ul li .arrow_icon {
    float: right;
    display: inline-block;
    vertical-align: text-top;
    width: 9px;
    height: 13px;
    margin-top: 3px;
    opacity: .5;
    background-image: url("../_images/arrow.png");
}

/*Style for active links*/
/* ------------------------------------------------------------------------- */
.outline .level_1.active > a, .level_1.active > a:hover {
    background-color: #04A3C6;
    color: #FFF;
}

.outline .level_2.active > a, .level_2.active > a:hover {
    background-color: #04B5DB;
    color: #FFF;
}

.outline .level_3.active > a, .level_3.active > a:hover {
    background-color: #05CCF7;
    color: #FFF;
}

.outline .level_4.active > a, .level_4.active > a:hover {
    background-color: #2FDDFF;
    color: #FFF;
}

.outline .active > a > .arrow_icon {
    opacity: 1;
    background-image: url("../_images/arrow_alt.png");
}


/*Style for hover effects*/
/* ------------------------------------------------------------------------- */
.outline ul li a:hover {
    background-color: #F5F5F5;
    color: #023F4D;
}

.outline ul li a:hover .arrow_icon {
    opacity: 1;
}
