@charset "UTF-8";

/* Create style for banner ***************************************************/

.banner {
	background-color: #666B75;
	background-repeat: repeat-x repeat-y;
	height: 200px;
	position: absolute;
	top: 300px;
	right: 0;
	left: 0;
}

/* Create article structure **************************************************/

article.main {
	position: absolute;
	top: 500px;
	left: 0;
	right: 0;
	bottom: 0;
	width:980px;
	margin: 0 auto;
}

article.main nav {
	position: absolute;
	left: 0;
	min-width: 200px;
	max-width: 200px;

}

article.main .content{
	position: absolute;
	right: 0;
	max-width: 760px;
	padding: 0 10px;
}

/* Create style for article header *******************************************/

article h1, article h2, article h3, article h4, article h5, article h6 {
	color: #43464D;
}

/* Create style for article outline ******************************************/

article.main nav.outline {
	background-color: #666B75;
	background-repeat: repeat-x repeat-y;
	color: #FFFFFF;
}

article.main nav.outline section {
	background-color: rgba(102, 107, 117, 0.5); /* #666B75 */
	padding: 10px 5px;
}

article.main nav.outline h2 {
	text-align: center;
	margin: 0;
	color: #FFFFFF;
}

article.main nav.outline ul {
	list-style-type: none;
	padding: 0 10px;
	margin: 10px 0;
}

article.main nav.outline a {
	color: #FFFFFF;
}

article.main nav.outline a:hover {
	color: #F3A11E;
}

article.main nav.outline li {
	padding-bottom: 5px;
}

/* Create style for article content ******************************************/

article.main .content header {
	text-align: center;
}

article.main .content header h1 {
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 3em;
}

article.main .content header p {
	margin-top: 10px;
	text-align: center;
}

article.main .content p {
	text-align: justify;
}

article.main .content h2, article.main .content h3{
	display: inline-block;
}

article.main .toTop {
	margin: 0 0 0 40px;
	font-size: .8em;
}

article.main .content a {
	color: #C98519;
}

article.main .content img {
	display: block;
	width: 600px;
	padding: 10px;
	margin: 0 auto;
	border: 5px solid #04A3C6;
	-webkit-border-radius: 0 25px 25px 25px;
	-moz-border-radius: 0 25px 25px 25px;
	border-radius: 0 25px 25px 25px;
}

article.main .content li {
	padding-bottom: 8px;
}

/* Create style for pre-formatted text ***************************************/

article.main .content pre {
	background-color: #DCF5FF;
	color: #43464D;
	border: 5px solid #04A3C6;
	-webkit-border-radius: 0 25px 25px 25px;
	-moz-border-radius: 0 25px 25px 25px;
	border-radius: 0 25px 25px 25px;
}

/* Create style for social media *********************************************/

article.main .content .social {
	background-color: #FFFFFF;
	text-align: center;
	border-top: 2px dotted #666B75;
	margin: 0;
	padding: 10px;
}

/* Create style for article footer *******************************************/

article.main .content footer p {
	background-color: #04A3C6;
	color: #FFFFFF;
	text-align: center;
	font-size: 1.2em;
	padding: 20px 0 20px 0;
	margin: 0;
}

article.main .content footer a {
	color: #FFFFFF;
}

article.main .content footer a:hover {
	color: #F3A11E;
}

/** Create style for disqus comments *****************************************/

article.main .comments {
	margin: 20px auto 0 auto;
}
