@charset "UTF-8";

html, body {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12pt;
	margin: 0;
	padding: 0;
}

/* Create styling for top banner */

#pageHeader {
	background-color: #ffffff;
}

#pageHeader  div {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	height: 250px;
	width: 980px;
	margin: 0 auto;
	
	background-color: #FFFFFF;
}

#pageHeader img {
	position: relative;
	top: 10px;
}

#pageHeader h1 {
	position: absolute;
	top: 30px;
	left: 160px;
	margin: 0;
	
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 6.5em;
	color: #43464D;
}

#pageHeader h2 {
	position: absolute;
	top: 160px;
	left:150px;
	margin: 0;
	font-size: 1.7em;
	
	padding: 15px 10px 15px 20px;
	color: #FFFFFF;
	background-color: #F3A11E;
	-webkit-border-radius: 0 25px 25px 25px;
	-moz-border-radius: 0 25px 25px 25px;
	border-radius: 0 25px 25px 25px;
}
