.main header {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.main {
    font-family: Georgia, serif;
}

/*Position the main element*/
/* ------------------------------------------------------------------------- */
.main {
    position: relative;
    top: 230px;
    margin: 0 auto;
}

/*Position the article excerpts*/
/* ------------------------------------------------------------------------- */
.main .excerpt {
    width: 100%;
    padding: 20px 0;
    margin: 0;
/*    border-bottom: 10px solid #E5E5E5;*/
}

.excerpt .wrapper {
    min-width: 500px;
    max-width: 900px;
    margin: 0 auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, .5);
    background-color: rgba(255, 255, 255, 1);
    
    -webkit-border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
}

.excerpt a:link, .main .excerpt a:visited {
    text-decoration: none;
}

.excerpt h3 {
    margin: 0;
    text-align: center;
    font-size: 2em;
    padding: 40px 0 10px 0;
    background-color: rgba(4, 163, 198, 1);
    color: #FFF;
    -webkit-border-radius: 10px 10px 0 0;
	-moz-border-radius: 10px 10px 0 0;
    border-radius: 10px 10px 0 0;
/*    transition: text-shadow 100ms ease-in;*/
}

.excerpt h3:hover {
    text-shadow: 0 0 10px rgba(255, 255, 255, .8);
}

.excerpt h4 {
    text-align: center;
    font-size: 1.5em;
    margin: 0;
    padding: 10px 0;
    background-color: #F2AD3F;
    color: #FFF;
}

.excerpt .text {
/*    background-color: #F5F5F5;*/
    padding: 20px 80px;
    text-align: justify;
}

.excerpt .author {
    background-color: #F5F5F5;
    text-align: center;
    padding: 10px 0 20px 0;
    
    border-top: 1px solid #E5E5E5;
    
    -webkit-border-radius: 0 0 10px 10px;
	-moz-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
}

.main .excerpt p {
    margin: 0;
    font-size: 1.1em;
}
