.main h3, .main h4 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.main {
	font-family: Georgia, serif;
}

.main {
	position: relative;
	top: 300px;
}

.main section {
	width: 900px;
	margin: 0 auto;
}

.excerpt {
	border-radius: 10px;
	margin-bottom: 30px;
	border: 1px solid #e5e5e5;
	box-shadow: 0 0 10px 1px rgba(0, 0, 0, .08);
}

.excerpt .image {
	height: 200px;
	width: 900px;
	margin: 0 auto;
	background-repeat: repeat;
	border-radius: 10px 10px 0 0;
}

.excerpt a {
	text-decoration: none;
}

.excerpt h3 {
	color: #04A3C6;
	background-color: #FFFFFF;
	border-bottom: 2px solid #04A3C6;
	border-top: 2px solid #04A3C6;
	text-align: center;
	line-height: 50px;
	font-size: 2em;
	margin: 0;
	transition: background-color 200ms ease-in;
}

.excerpt h4 {
	color: #FFFFFF;
	background-color: #F2AD3F;
	text-align: center;
	font-size: 1.3em;
	margin: 0;
}

.excerpt h3:hover {
	text-shadow: 0 0 10px rgba(255, 255, 255, 1);
	color: #FFFFFF;
	background-color: #04A3C6;
}

.content td {
	padding: 0;
	margin: 0;
}

.content .text {
	/*width: 600px;*/
	text-align: justify;
	padding: 20px;
	font-size: 1.2em;
}

.content .metadata {
	width: 250px;
	text-align: center;
	vertical-align: top;
	/*background-color: #e5e5e5;*/
	border-left: 2px solid #e5e5e5;
}

.excerpt ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.excerpt .author{
	padding-top: 10px;
}

.excerpt .date {
	padding-bottom: 10px;
}

.excerpt .tags {
	border-top: 1px solid #E5E5E5;
	padding: 10px;
	color: #636363;
	text-align: left;
}



