@charset "UTF-8";

/* Create styling for main div */
html, body {
	height: 100%;
}

body {
	background: #FFFFFF
}

#main {
	width:980px;
	margin-left: -490px;
	position: absolute;
	top: 300px;
	left: 50%;
	bottom: 0%;
	
	background-color: #FFFFFF;
}

/* Create styling for main section */

#main section {
	width: 700px;
	position: absolute;
	left: 0%;
	min-height: 100% !important;
	height: auto;
	
	background-color: #FFFFFF;
}

/* Create styling for aside */

#main aside {
	width: 280px;
	position: absolute;
	right: 0%;
	min-height: 100% !important;
	height: auto;
	
	background-color: #666B75;
}

#main aside h3 {
	text-align: center;
	margin: 10px 0 10px 0;
}

#main aside ul {
	margin: 5px 0 0 0;
	padding: 0 0 0 20px;
}

#main aside li {
	padding: 5px 0 5px 25px;
	list-style-type: none;
	background: url("../_images/list_icon_white.png") no-repeat left 50%;
}

#main aside h3, #main aside li, #main aside a{
	color: #FFFFFF;
}

#main aside a {
	margin: 5px 0;
	padding: 5px 10px 5px 40px;
	position: relative;
	left: -45px;
	-webkit-border-radius: 0 25px 25px 0;
	-moz-border-radius: 0 25px 25px 0;
	border-radius: 0 25px 25px 0;
	
	transition: background 0.2s ease-in-out;
}

#main aside a:hover{
	background-color: #F3A11E;
}
