@charset "UTF-8";

body {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12pt;
}

header, nav {
	width: 980px;
	margin: 0 auto;
}


#main {
	width: 980px;
	margin: 0 auto;
}

iframe {
	clear: both;
	display: block;
	width: 70%;
	height: 300px;
	border: 0;
}

.navigation {
	padding: 0 10px 0 0;
	float: left;
}