@charset "UTF-8";

/* Create styling for main div */

#main {
	width:980px;
	margin: 0 auto;
}

/* Create styling for main section */

#main section {
	width: 700px;
	margin: 0 auto 0 0;
	float: left;
}

/* Create styling for aside */

#main aside {
	width: 280px;
	margin: 0 0 0 auto;
	float: left;
	background-color: #444444;
}

#main aside h3 {
	text-align: center;
}