@charset "UTF-8";
/* Create styling for navigation bar */

#pageNav {
	position: absolute;
	top: 250px;
	width: 100%;
	background-color: #04a3c6;
	height: 50px;
}

#pageNav ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
	text-align: center;
}

#pageNav ul li {
	display: inline;
}

#pageNav ul li a {
	text-decoration: none;
	font-size: 2em;	
	line-height: 50px;
	padding: 5px 10px 6px 10px;
	margin: 0 30px;
	color: #FFFFFF;
	
	transition: background 0.2s ease-in-out;
}

#pageNav ul li a:hover
{
	color: #48577D;
	background-color: #D3DCF2;
}
